*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #3456;
}
.main{
  margin: auto;
  text-align: center;
  padding: 10px;
  height: 80vh;
  width: 70vw;
}
.grid-container{
  background: #678;
  display: inline-grid;
  width: 70vw;
  height: 70vh;
  grid-template-columns: auto auto auto auto;
}
.sub-grid{
  margin: 1px;
  font-size: 25px;
}
button{
  border-style: none;
  border-radius: 6px;
}
button:hover{
  background-color: #3434;
  color: white;
}
.result{
  background-color: #3467;
  width: 70vw;
  border-radius: 10px;
  color: white;
}
footer{
  text-align: center;
  color: #546563;
  font-size: 13px;
  font-family: cursive;
}
